html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
}

body, html {
    line-height: 1.8;
    background-color: #1664f5;
}

.logo{
    background-image: url("img/navLogo.png");
    height: 32px;
    width: 32px;
    border-radius: 7px;
}

#taskImg{
    background-image: url("img/to-do.png");
    height: 256px;
    width: 256px;
}

#logoImg{
    background-image: url("img/logoImg.png");
    height: 248px;
    width: 248px;
    border-radius: 5px;
}

/* code for centerlize */

#mainAdjst{
    margin-top: 12%;
}

.spaceMaker{
    padding: 5%;
}

#hCenter{
    margin-top: 10%;
    margin-bottom: 6%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#bgimg-1 {
    background-position: center;
    background-size: cover;
    /*background-image: url("img/bg.jpg");*/
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

#definition{
    margin-top: 5%;
    padding: 60px;
}

#footer{
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  background-color: #1664f5 !important;
}
