body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

body, html {
    line-height: 1.8;
    background-color: #1664f5;
    background-image: url("img/contact.jpg");
}

/* Full height image header */
#bgimg-1 {
    background-position: center;
    background-size: cover;
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

#definition{
    margin-top: 5%;
    padding: 60px;
}
#footer{
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#centerlize{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

