html, body, h1, h2, h3, h4,  h5 {
    font-family: "Open Sans", sans-serif;
}


input[type="text"], input[type="date"] {
    border-style: none;
    background: none;
}

input[type="date"] {
    color: black;
}

.centerWithSmallMargins {
    margin: 0 auto;
    margin-top: 3rem;
}

#doneTable tbody tr {
    opacity: 0.5;
}

#doneTable tbody tr td input[type="text"] {
    text-decoration: line-through;
}

table {
    border: none;
    border-collapse: collapse;
}

tr {
    background-color: #fff;
}

/*
tr:not(.tableRowSpacer) {
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
*/

#completed {
    text-align: center;
    vertical-align: middle;
}

.tableRowSpacer {
    height: 1.0rem;
}

.noBorder {
    border: none !important;
}
